.table-wrapper {
    margin: 10px 70px 70px;
    box-shadow: 0px 0px 117px #000000;
}

.fl-table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: #c2c5c7;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #303030;
    font-size: 16px;
    color: #242424;
}

.fl-table thead th {
    color: #242424;
    background: #A6ACAF;
}

.fl-table thead th:nth-child(odd) {
    color: #242424;
    background: #A6ACAF;
}

.fl-table tr:nth-child(even) {
    background: #A6ACAF;
}

.fl-table input,
.fl-table select {
  font-size: 20px;
  height: 40px;
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background: #242424;
  color: #A6ACAF;
}

.dropdown-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.dropdown-container select {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.select {
  font-size: 14px !important;
  width: 90% !important;
}

.category {
   background-color: #242424 !important;
}

.rowTotal td{
  font-weight: bold;
}

.sellingpricetotal {
    background: #A6ACAF;
    color: #000000 !important;
    font-weight: bold;
    font-size: 20px !important;
}

.css-19bb58m {
  display: none !important;
}

.css-b62m3t-container {
  display: inline-block;
  width: 60%;
}

.css-13cymwt-control {
  font-size: 16px !important;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background: #242424 !important;
  color: #c2c5c7 !important;
}

.css-1nmdiq5-menu  {
  cursor: pointer !important;
  font-size: 14px !important;
}

.css-1xc3v61-indicatorContainer {
  padding: 5px !important;
  cursor: pointer !important;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }
    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 14px;
      color: #c2c5c7;
      padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
    }
    .fl-table thead th:last-child {
      border-bottom: none;
    }
    .fl-table thead {
      float: left;
    }
    .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
    }
    .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 14px;
      text-overflow: ellipsis;
    }
    .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
      display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
      background: none;
    }
    .fl-table tr:nth-child(even) {
      background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
      display: block;
      text-align: center;
    }

    .css-13cymwt-control {
      font-size: 14px !important;
    }

    .css-1nmdiq5-menu  {
      font-size: 14px !important;
    }
}
